In [ ]:
print("JSS3 Rose, Set of 2023/2024")

girls = {'Name      |':[ 'Age |' 'Height  |' 'Score  |'],
         'Evelyn    |':[ '17  |' '5.5     |' '80     |'],
         'Jessica   |':[ '16  |' '6.0     |' '85     |'],
         'Somto     |':[ '17  |' '5.4     |' '70     |'],
         'Edith     |':[ '18  |' '5.9     |' '60     |'],
         'Liza      |':[ '16  |' '5.6     |' '76     |'],
         'Madonna   |':[ '18  |' '5.5     |' '66     |'],
         'Waje      |':[ '17  |' '6.1     |' '87     |'],
         'Tola      |':[ '20  |' '6.0     |' '95     |'],
         'Aisha     |':[ '19  |' '5.7     |' '50     |'],
         'Latifa    |':[ '17  |' '5.5     |' '49     |'],}

boys = {'Name      |': ['Age  |' 'Height  |' 'Score  |'],
        'Chinedu   |': ['19   |' '5.7     |' '74     |'],
        'Liam      |': ['16   |' '5.9     |' '87     |'],
        'Wale      |': ['18   |' '5.8     |' '75     |'],
        'Gbenga    |': ['17   |' '6.1     |' '68     |'],
        'Abiola    |': ['20   |' '5.9     |' '66     |'],
        'Kola      |': ['19   |' '5.5     |' '78     |'],
        'Kunle     |': ['16   |' '6.1     |' '87     |'],
        'George    |': ['18   |' '5.4     |' '98     |'],
        'Thomas    |': ['17   |' '5.8     |' '54     |'],
        'Wesley    |': ['19   |' '5.7     |' '60     |'],}

for n in girls:
  print(n, girls[n])

print("\n")

for n in boys:
  print(n, boys[n])

In [ ]:
print("Hello, Welcome to the database for Izfin Technology")
we = int(input("Please input the number of years of work experience you have:"))
age = int(input("Please input our age (in years)"))

if we > 25 and age >= 55:
    print("You are eligible for an annual tax revenue of N5,600,000")

elif we > 20 and we < 25 and age >= 45 and age < 55:
    print("You are eligible for an annual tax revenue of N4,480,000")

elif we > 10 and we < 20 and age >= 35 and age < 45:
    print("You are eligible for an annual tax revenue of N1,500,000")
elif we < 10 and age < 35:
    print("You are eligible for an annual tax revenue of N550,000")